.imageContainer {
  width: 842px;
  height: 842px;
  margin-left: 84px;
  margin-top: 670px;
}

.checkBox {
font-family: Poppins;
font-size: 40px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: left;

}
