.image {
  border-radius: 50%;
  width: 202px;
  height: 202px;
}
.sellerName {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
.verified {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #62c29b;
  margin-bottom: 31px;
}
.Date {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #979797;
}

.messageButton {
   
  padding-left:51.28px;
  padding-right: 181.25px;
  padding-top: 37px;
  padding-bottom: 36px;
  background-color: #1f24ab;
  color: #ffffff;
  font-family: Futura PT;
  font-size: 32px;
  font-weight: 450;
  line-height: 41px;
  letter-spacing: 0em;
  margin-bottom: 160px;
}
.viewButton {
  
  padding-left:179px;
  padding-right: 179px;
  padding-top: 16px;
  padding-bottom: 15px;
  margin-top: 55px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
}
