.textContainer {

  width: 860.23px;
  height: 1581px; 
  margin-top: 460px;
  margin-left: 976px;

}

.listItem{
    padding: 5px;
}
.imageContainer{
    margin-top:670px;
    margin-left:84px;
    border: 2px;
}