.imageContainer {
  width: 842px;
  height: 842px;
  margin-top: 670px;
  margin-left: 84px;
  border: 2px;
}

.textContainer {
  width: 860.23px;
  height: 1581px;
  margin-top: 460px;
  left: 976px;
}

.relevantProductsContainer {
  width: 1706px;
  height: 624px;
  margin-top: 2345px;
  margin-left: 107px;
}
.relevantProductItem {
  width: 317px;
  height: 188px;
  top: 334px;
  padding: 0px, 0px, 20px, 0px;
  gap: 15px;
}

.listItem {
  padding: 5px;
}
