.imageContainer {
  width: 842px;
  height: 842px;
  top: 670px;
  left: 84px;
  border: 2px;
}

.textContainer {
  width: 860.23px;
  height: 158.1px;
  top: 460px;
  left: 976px;
}

.relevantProductsContainer {
  width: 1706px;
  height: 624px;
  top: 2345px;
  left: 107px;
}

.listItem {
  padding: 5px;
}
